<!-- <html lang="en">

<head>
    <link rel="stylesheet" href="stylesign.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Poppins&display=swap" rel="stylesheet">
</head>

<body>
    <div class="sign-in-container">
        <div class="sign-column s1">
            <div class="sign-column-face s2">
                <div class="s3">
                    <div class="sign-header-section">
                        <div class="sign-in-title">
                            Login Page
                        </div>
                    </div>
                    <div class="sign-buttons">
                        <a href="/login/federated/google" class="login-w-button">
                            <img width="18" height="18" src="https://img.icons8.com/color/48/google-logo.png"
                                alt="google-logo" />
                            <span>Sign in with Google</span>
                        </a>
                        <a href="#" class="login-w-button">
                            <img width="18" height="18" src="https://img.icons8.com/ios-filled/50/mac-os.png"
                                alt="mac-os" />
                            <span>Sign in with Apple</span>
                        </a>
                    </div>
                    <div class="slice-container">
                        <div class="slice-text">Or with email</div>

                    </div>
                    <form class="input-container">
                        <input type="email" required placeholder="Email">
                        <input type="password" required placeholder="Passowrd">
                        <a href="#" class="alt-f">
                            Forgot Password ?
                        </a>
                        <button>
                            Sign in
                        </button>
                        <div href="#" class="alt-f-full">
                            Not a Member yet ?
                            <a href="sign-up.html" class="alt-f">
                                Sign up
                            </a>
                        </div>

                    </form>
                </div>

            </div>
        </div>

        <div class="sign-column w2">
            <div class="intro-p">
                <div class="canvas-logo">
                    <img src="https://images.unsplash.com/photo-1496200186974-4293800e2c20?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="logo">
                </div>

                <div class="intro-content">
                    <div class="intro-title">
                        Lorem ipsum dolor sit amet
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Discord</title>
</head>
<body>
    <div class="main w-full flex items-center justify-center h-screen">
        <div class="bgimg w-full h-full absolute z-10 top-0 left-0">
            <img class="w-full h-full object-cover" src="https://images.alphacoders.com/129/1291249.png" alt="">
        </div>
        <div class="login w-[450px] h-max relative bg-[#313338] z-20 text-[#F1F2F4] p-7 ">
            <h1 class="text-center text-2xl font-semibold">Welcom back!</h1>
            <p class="text-center text-[#B0B5BC]">We're so exited to see you again!</p>
            <form id="login" action="/login" method="post" class="mt-8">
                <h1  class="text-[#B0B5BC] text-xs font-semibold ">EMAIL RO PHONE NUMBER <span class="text-red-600 text-sm">*</span></h1>
                <input type="text" id="username" name="email" class="my-2 bg-[#1E1F22] w-full py-[7px] rounded-md">
                <h1 class="text-[#B0B5BC] text-xs font-semibold mt-3">PASSWORD<span  class="text-red-600 text-sm">*</span></h1>
                <input type="text" name="password" class="my-2 bg-[#1E1F22] w-full py-[7px] rounded-md">
            </form>
            <h1 class="text-xs text-[#0992D8]" >Forgot your password?</h1>
            <button onclick="login()" class="rounded-md w-full text-center bg-[#4752C4] mt-3 py-2 font-semibold">Log In</button>
            <a href="/login/federated/google" class="flex items-center justify-center bg-[#1E1F22] mt-3 py-2 rounded-md">
                <img class="w-[20px] h-[20px]"  src="https://img.icons8.com/color/48/google-logo.png"
                    alt="google-logo" />
                <span>Sign in with Google</span>
            </a> 
            <a class="text-xs mt-2"  href="/register">Need an account? <span class="text-xs text-[#0992D8]">Register</span></a>
        </div>
    </div>

    
    <script>
        function login(){
            document.querySelector("#login").submit();
        }
    </script>
</body>
</html>
<!-- 
